<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.SysBaseInfoMapper">

    <resultMap type="SysBaseInfo" id="SysBaseInfoResult">
        <result property="baseId"    column="base_id"    />
        <result property="companyName"    column="company_name"    />
        <result property="baseName"    column="base_name"    />
        <result property="baseNature"    column="base_nature"    />
        <result property="baseLeader"    column="base_leader"    />
        <result property="baseContacts"    column="base_contacts"    />
        <result property="basePhone"    column="base_phone"    />
        <result property="baseFax"    column="base_fax"    />
        <result property="baseAddress"    column="base_address"    />
        <result property="tude"    column="tude"    />
        <result property="baseEmail"    column="base_email"    />
        <result property="schoolLeader"    column="school_leader"    />
        <result property="schoolPhone"    column="school_phone"    />
        <result property="baseIntroduction"    column="base_introduction"    />
        <result property="practiceEnvironment"    column="practice_environment"    />
        <result property="appliForm"    column="appli_form"    />
        <result property="delFlag"    column="del_flag"    />
    </resultMap>

    <sql id="selectSysBaseInfoVo">
        select base_id, company_name, base_name, base_nature, base_leader, base_contacts, base_phone, base_fax, base_address, tude, base_email, school_leader, school_phone, base_introduction, practice_environment, appli_form, del_flag from sys_base_info
    </sql>

    <select id="selectBaseTudeAndID" parameterType="SysBaseInfo" resultMap="SysBaseInfoResult">
        <include refid="selectSysBaseInfoVo"/>
        <where>
            del_flag=0
        </where>
    </select>

    <select id="selectSysBaseInfoList" parameterType="SysBaseInfo" resultMap="SysBaseInfoResult">
        <include refid="selectSysBaseInfoVo"/>
        <where>
            <if test="searchKey == 'companyName'">and company_name like concat('%', #{searchValue},'%')</if>
            <if test="searchKey == 'baseAddress'">and base_address like concat('%', #{searchValue}, '%')</if>
            <if test="searchKey == 'baseContacts'">and base_contacts like concat('%', #{searchValue}, '%')</if>
            <if test="searchKey == 'basePhone'">and base_phone like concat('%', #{searchValue}, '%')</if>
            <if test="searchKey == 'baseNature'">and base_nature like concat('%', #{searchValue}, '%')</if>
            <if test="searchKey == 'schoolLeader'">and school_leader like concat('%', #{searchValue}, '%')</if>
            <if test="searchKey == 'schoolPhone'">and school_phone like concat('%', #{searchValue}, '%')</if>
            <if test="searchKey == 'allKeys' or (searchKey == null and searchValue != null)">
                company_name like concat('%', #{searchValue}, '%') or
                base_address like concat('%', #{searchValue}, '%') or
                base_contacts like concat('%', #{searchValue}, '%') or
                base_phone like concat('%', #{searchValue}, '%') or
                base_nature like concat('%', #{searchValue}, '%') or
                school_leader like concat('%', #{searchValue}, '%') or
                school_phone like concat('%', #{searchValue}, '%')
            </if>
            and del_flag=0
        </where>
    </select>

    <select id="selectSysBaseInfoById" parameterType="Long" resultMap="SysBaseInfoResult">
        <include refid="selectSysBaseInfoVo"/>
        where base_id = #{baseId}
    </select>

    <insert id="insertSysBaseInfo" parameterType="SysBaseInfo" useGeneratedKeys="true" keyProperty="baseId">
        insert into sys_base_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="companyName != null and companyName != ''">company_name,</if>
            <if test="baseName != null and baseName != ''">base_name,</if>
            <if test="baseNature != null and baseNature != ''">base_nature,</if>
            <if test="baseLeader != null and baseLeader != ''">base_leader,</if>
            <if test="baseContacts != null and baseContacts != ''">base_contacts,</if>
            <if test="basePhone != null and basePhone != ''">base_phone,</if>
            <if test="baseFax != null">base_fax,</if>
            <if test="baseAddress != null and baseAddress != ''">base_address,</if>
            <if test="tude != null">tude,</if>
            <if test="baseEmail != null">base_email,</if>
            <if test="schoolLeader != null and schoolLeader != ''">school_leader,</if>
            <if test="schoolPhone != null and schoolPhone != ''">school_phone,</if>
            <if test="baseIntroduction != null">base_introduction,</if>
            <if test="practiceEnvironment != null">practice_environment,</if>
            <if test="status != null and status != ''">status,</if>
            <if test="appliForm != null">appli_form,</if>
            <if test="delFlag != null and delFlag != ''">del_flag,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="companyName != null and companyName != ''">#{companyName},</if>
            <if test="baseName != null and baseName != ''">#{baseName},</if>
            <if test="baseNature != null and baseNature != ''">#{baseNature},</if>
            <if test="baseLeader != null and baseLeader != ''">#{baseLeader},</if>
            <if test="baseContacts != null and baseContacts != ''">#{baseContacts},</if>
            <if test="basePhone != null and basePhone != ''">#{basePhone},</if>
            <if test="baseFax != null">#{baseFax},</if>
            <if test="baseAddress != null and baseAddress != ''">#{baseAddress},</if>
            <if test="tude != null">#{tude},</if>
            <if test="baseEmail != null">#{baseEmail},</if>
            <if test="schoolLeader != null and schoolLeader != ''">#{schoolLeader},</if>
            <if test="schoolPhone != null and schoolPhone != ''">#{schoolPhone},</if>
            <if test="baseIntroduction != null">#{baseIntroduction},</if>
            <if test="practiceEnvironment != null">#{practiceEnvironment},</if>
            <if test="status != null and status != ''">#{status},</if>
            <if test="appliForm != null">#{appliForm},</if>
            <if test="delFlag != null and delFlag != ''">#{delFlag},</if>
        </trim>
    </insert>

    <update id="updateSysBaseInfo" parameterType="SysBaseInfo">
        update sys_base_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="companyName != null and companyName != ''">company_name = #{companyName},</if>
            <if test="baseName != null and baseName != ''">base_name = #{baseName},</if>
            <if test="baseNature != null and baseNature != ''">base_nature = #{baseNature},</if>
            <if test="baseLeader != null and baseLeader != ''">base_leader = #{baseLeader},</if>
            <if test="baseContacts != null and baseContacts != ''">base_contacts = #{baseContacts},</if>
            <if test="basePhone != null and basePhone != ''">base_phone = #{basePhone},</if>
            <if test="baseFax != null">base_fax = #{baseFax},</if>
            <if test="baseAddress != null and baseAddress != ''">base_address = #{baseAddress},</if>
            <if test="tude != null">tude = #{tude},</if>
            <if test="baseEmail != null">base_email = #{baseEmail},</if>
            <if test="schoolLeader != null and schoolLeader != ''">school_leader = #{schoolLeader},</if>
            <if test="schoolPhone != null and schoolPhone != ''">school_phone = #{schoolPhone},</if>
            <if test="baseIntroduction != null">base_introduction = #{baseIntroduction},</if>
            <if test="practiceEnvironment != null">practice_environment = #{practiceEnvironment},</if>
            <if test="status != null and status != ''">status = #{status},</if>
            <if test="appliForm != null">appli_form = #{appliForm},</if>
            <if test="delFlag != null and delFlag != ''">del_flag = #{delFlag},</if>
        </trim>
        where base_id = #{baseId}
    </update>

    <delete id="deleteSysBaseInfoById" parameterType="Long">
        delete from sys_base_info where base_id = #{baseId}
    </delete>

    <delete id="deleteSysBaseInfoByIds" parameterType="String">
        delete from sys_base_info where base_id in
        <foreach item="baseId" collection="array" open="(" separator="," close=")">
            #{baseId}
        </foreach>
    </delete>
</mapper>
