<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.location.mapper.LocationInfoMapper">

    <resultMap type="LocationInfo" id="LocationInfoResult">
        <result property="locationId" column="location_id"/>
        <result property="companyName" column="company_name"/>
        <result property="address" column="address"/>
        <result property="contacts" column="contacts"/>
        <result property="tude" column="tude"/>
        <result property="phone" column="phone"/>
        <result property="nature" column="nature"/>
        <result property="leader" column="leader"/>
        <result property="delFlag" column="del_flag"/>
        <result property="createTime" column="create_time"/>
    </resultMap>

    <sql id="selectLocationInfoVo">
        select location_id, company_name, address, contacts, tude, phone, nature, leader, del_flag, create_time from sys_location_info
    </sql>

    <select id="selectLocationTude" parameterType="LocationInfo" resultMap="LocationInfoResult">
        <include refid="selectLocationInfoVo"/>
        <where>
            del_flag=0
        </where>
    </select>

    <select id="selectLocationInfoList" parameterType="LocationInfo" resultMap="LocationInfoResult">
        <include refid="selectLocationInfoVo"/>
        <where>
            <if test="searchKey == 'companyName'">and company_name like concat('%', #{searchValue},'%')</if>
            <if test="searchKey == 'address'">and address like concat('%', #{searchValue}, '%')</if>
            <if test="searchKey == 'contacts'">and contacts like concat('%', #{searchValue}, '%')</if>
            <if test="searchKey == 'phone'">and phone like concat('%', #{searchValue}, '%')</if>
            <if test="searchKey == 'nature'">and nature like concat('%', #{searchValue}, '%')</if>
            <if test="searchKey == 'leader'">and leader like concat('%', #{searchValue}, '%')</if>
            <if test="searchKey == 'allKeys' or (searchKey == null and searchValue != null)">
                company_name like concat('%', #{searchValue}, '%') or
                address like concat('%', #{searchValue}, '%') or
                contacts like concat('%', #{searchValue}, '%') or
                phone like concat('%', #{searchValue}, '%') or
                nature like concat('%', #{searchValue}, '%') or
                leader like concat('%', #{searchValue}, '%')
            </if>
            and del_flag=0
        </where>
        order by create_time desc
    </select>

    <select id="selectLocationInfoById" parameterType="Long" resultMap="LocationInfoResult">
        <include refid="selectLocationInfoVo"/>
        where location_id = #{locationId} and del_flag=0
    </select>

    <insert id="insertLocationInfo" parameterType="LocationInfo" useGeneratedKeys="true" keyProperty="locationId" keyColumn="location_id">
        insert into sys_location_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="companyName != null and companyName != ''">company_name,</if>
            <if test="address != null and address != ''">address,</if>
            <if test="contacts != null">contacts,</if>
            <if test="tude != null">tude,</if>
            <if test="phone != null">phone,</if>
            <if test="nature != null and nature != ''">nature,</if>
            <if test="leader != null and leader != ''">leader,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="createTime != null">create_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="companyName != null and companyName != ''">#{companyName},</if>
            <if test="address != null and address != ''">#{address},</if>
            <if test="contacts != null">#{contacts},</if>
            <if test="tude != null">#{tude},</if>
            <if test="phone != null">#{phone},</if>
            <if test="nature != null and nature != ''">#{nature},</if>
            <if test="leader != null and leader != ''">#{leader},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createTime != null">#{createTime},</if>
        </trim>
    </insert>

    <update id="updateLocationInfo" parameterType="LocationInfo">
        update sys_location_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="companyName != null and companyName != ''">company_name = #{companyName},</if>
            <if test="address != null and address != ''">address = #{address},</if>
            <if test="contacts != null">contacts = #{contacts},</if>
            <if test="tude != null">tude = #{tude},</if>
            <if test="phone != null">phone = #{phone},</if>
            <if test="nature != null and nature != ''">nature = #{nature},</if>
            <if test="leader != null and leader != ''">leader = #{leader},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
        </trim>
        where location_id = #{locationId}
    </update>

    <update id="deleteLocationInfoById" parameterType="Long">
        update sys_location_info
        set del_flag=2
        where location_id = #{locationId}
    </update>

    <update id="deleteLocationInfoByIds" parameterType="String">
        update sys_location_info
        set del_flag=2
        where location_id in
        <foreach item="locationId" collection="array" open="(" separator="," close=")">
            #{locationId}
        </foreach>
    </update>

</mapper>
