<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.practiceScore.mapper.SysPracticeScoreMapper">

    <resultMap type="SysPracticeScore" id="SysPracticeScoreResult">
        <result property="scoreId"    column="score_id"    />
        <result property="userId"    column="user_id"    />
        <result property="locationId"    column="location_id"    />
        <result property="startTime"    column="start_time"    />
        <result property="endTime"    column="end_time"    />
        <result property="sysScore"    column="sys_score"    />
        <result property="companyScore"    column="company_score"    />
        <result property="teacherScore"    column="teacher_score"    />
        <result property="finalScore"    column="final_score"    />
        <result property="appraisal"    column="appraisal"    />
        <result property="summary"    column="summary"    />
        <result property="status"    column="status"    />
        <result property="delFlag"    column="del_flag"    />
    </resultMap>

    <resultMap id="Calculate" type="Calculate">
        <result property="username" column="username"></result>
        <result property="punchDay" column="punchDay"></result>
        <result property="logDay" column="logDay"></result>
    </resultMap>

    <resultMap type="SysPracticeScore" id="SysPracticeScoreResult2">
        <result property="scoreId"    column="score_id"    />
        <result property="userId"    column="user_id"    />
        <result property="username"    column="user_name"  />
        <result property="nickname"    column="nick_name"    />
        <result property="locationId"    column="location_id"    />
        <result property="startTime"    column="start_time"    />
        <result property="endTime"    column="end_time"    />
        <result property="sysScore"    column="sys_score"    />
        <result property="companyScore"    column="company_score"    />
        <result property="teacherScore"    column="teacher_score"    />
        <result property="finalScore"    column="final_score"    />
        <result property="appraisal"    column="appraisal"    />
        <result property="summary"    column="summary"    />
        <result property="status"    column="status"    />
        <result property="delFlag"    column="del_flag"    />
    </resultMap>

    <sql id="selectSysPracticeScoreVo">
        select score_id, user_id, location_id, start_time, end_time, sys_score, company_score, teacher_score, final_score, appraisal, summary, status, del_flag from sys_practice_score
    </sql>

    <sql id="selectSysPracticeScoreVo2">
       SELECT score_id,sys_user.user_id,user_name,sys_user.nick_name,location_id,start_time,end_time,sys_score,company_score,teacher_score,final_score,appraisal,summary,sys_practice_score.`status`,sys_practice_score.del_flag FROM sys_user,sys_practice_score
    </sql>


    <sql id="selectSysPracticeScoreVo3">
       select  score_id,su.user_id,su.user_name,su.nick_name,teacher_id,pi.location_id,entry_time as start_time,ending_time as end_time,sys_score,company_score,teacher_score,final_score,appraisal,summary,score.`status` from sys_practice_arrangement pa
                 left join sys_practice_info pi on pa.info_id = pi.info_id
                 left join sys_user su on stu_id = su.user_id
                 left join sys_base_info bi on location_id = base_id
                 left join sys_user tu on teacher_id = tu.user_id
				 left join sys_practice_score score on score.user_id = su.user_id

    </sql>

    <select id="selectSysPracticeScoreList" parameterType="SysPracticeScore" resultMap="SysPracticeScoreResult2">
        <include refid="selectSysPracticeScoreVo3"/>
        <where>
            <if test="teacherId != null ">pi.teacher_id = #{teacherId}</if>
            <if test="userId != null "> and su.user_id = #{userId}</if>
            <if test="username != '' and username!=null"> and su.user_name = #{username}</if>
            <if test="nickname != '' and nickname!=null"> and su.nick_name = #{nickname}</if>
            <if test="locationId != null "> and location_id = #{locationId}</if>
            <if test="startTime != null "> and entry_time = #{startTime}</if>
            <if test="endTime != null "> and ending_time = #{endTime}</if>
            <if test="sysScore != null "> and sys_score = #{sysScore}</if>
            <if test="companyScore != null "> and company_score = #{companyScore}</if>
            <if test="teacherScore != null "> and teacher_score = #{teacherScore}</if>
            <if test="finalScore != null "> and final_score = #{finalScore}</if>
            <if test="appraisal != null  and appraisal != ''"> and appraisal = #{appraisal}</if>
            <if test="summary != null  and summary != ''"> and summary = #{summary}</if>
            <if test="status != null  and status != ''"> and score.status = #{status}</if>
        </where>
        GROUP BY su.user_id

    </select>

    <select id="getPunchDayByScoreId" resultMap="Calculate">
        SELECT  count(*) AS punchDay FROM sys_attendance WHERE user_name IN
        (SELECT user.user_name FROM sys_practice_score score LEFT JOIN sys_user user on score.user_id = user.user_id WHERE score_id =#{scoreId});
    </select>

    <select id="getLogDayByScoreId" resultMap="Calculate">
         SELECT count(*) AS logDay FROM sys_practice_log WHERE user_name IN
         (SELECT user.user_name FROM sys_practice_score score LEFT JOIN sys_user user on score.user_id = user.user_id WHERE score_id =#{scoreId});
    </select>

    <select id="selectSysPracticeScoreById" parameterType="Long" resultMap="SysPracticeScoreResult2">
        <include refid="selectSysPracticeScoreVo3"/>
        <where>
            <if test="userId != null">su.user_id = #{userId}</if>
            <if test="teacherId!=null">and pi.teacher_id = #{teacherId}</if>
            <if test="scoreId!=null ">and score_id = #{scoreId} </if>
        </where>
        GROUP BY su.user_id
    </select>

    <insert id="insertSysPracticeScore" parameterType="SysPracticeScore" useGeneratedKeys="true" keyProperty="scoreId">
        insert into sys_practice_score
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">user_id,</if>
            <if test="locationId != null">location_id,</if>
            <if test="startTime != null">start_time,</if>
            <if test="endTime != null">end_time,</if>
            <if test="sysScore != null">sys_score,</if>
            <if test="companyScore != null">company_score,</if>
            <if test="teacherScore != null">teacher_score,</if>
            <if test="finalScore != null">final_score,</if>
            <if test="appraisal != null">appraisal,</if>
            <if test="summary != null">summary,</if>
            <if test="status != null">status,</if>
            <if test="delFlag != null">del_flag,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">#{userId},</if>
            <if test="locationId != null">#{locationId},</if>
            <if test="startTime != null">#{startTime},</if>
            <if test="endTime != null">#{endTime},</if>
            <if test="sysScore != null">#{sysScore},</if>
            <if test="companyScore != null">#{companyScore},</if>
            <if test="teacherScore != null">#{teacherScore},</if>
            <if test="finalScore != null">#{finalScore},</if>
            <if test="appraisal != null">#{appraisal},</if>
            <if test="summary != null">#{summary},</if>
            <if test="status != null">#{status},</if>
            <if test="delFlag != null">#{delFlag},</if>
         </trim>
    </insert>

    <update id="updateSysPracticeScore" parameterType="SysPracticeScore">
        update sys_practice_score
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null">user_id = #{userId},</if>
            <if test="locationId != null">location_id = #{locationId},</if>
            <if test="startTime != null">start_time = #{startTime},</if>
            <if test="endTime != null">end_time = #{endTime},</if>
            <if test="sysScore != null">sys_score = #{sysScore},</if>
            <if test="companyScore != null">company_score = #{companyScore},</if>
            <if test="teacherScore != null">teacher_score = #{teacherScore},</if>
            <if test="finalScore != null">final_score = #{finalScore},</if>
            <if test="appraisal != null">appraisal = #{appraisal},</if>
            <if test="summary != null">summary = #{summary},</if>
            <if test="status != null">status = #{status},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
        </trim>
        where score_id = #{scoreId}
    </update>

    <update id="updateScoreSatus" parameterType="SysPracticeScore">
        update sys_practice_score
        <trim prefix="SET" suffixOverrides=",">
            <if test="status != null">status = #{status},</if>
        </trim>
        where score_id = #{scoreId}
    </update>

    <update id="updateScoreAppraisal" parameterType="SysPracticeScore">
        update sys_practice_score
        <trim prefix="SET" suffixOverrides=",">
            <if test="appraisal != null">appraisal = #{appraisal},</if>
        </trim>
        where score_id = #{scoreId}
    </update>

    <update id="updateScoreSummary" parameterType="SysPracticeScore">
        update sys_practice_score
        <trim prefix="SET" suffixOverrides=",">
            <if test="summary != null">summary = #{summary},</if>
        </trim>
        where score_id = #{scoreId}
    </update>

    <delete id="deleteSysPracticeScoreById" parameterType="Long">
        delete from sys_practice_score where score_id = #{scoreId}
    </delete>

    <delete id="deleteSysPracticeScoreByIds" parameterType="String">
        delete from sys_practice_score where score_id in
        <foreach item="scoreId" collection="array" open="(" separator="," close=")">
            #{scoreId}
        </foreach>
    </delete>
</mapper>
